*{
    margin: 0px;
    padding: 0px;
}

// header container
header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  // header video
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }
//header container
  header .container {
    position: relative;
    z-index: 2;
  }
  
